#gif-screen {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
    z-index: 100;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
}

#gif-screen img {
    max-width: 800px;
    border-radius: 20px;
}

.fade-out {
    animation: scene-transition-fade-out 0.4s forwards;
}

@keyframes scene-transition-fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}

#easterEggs-container {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
    z-index: 100;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    background-color: floralwhite;
}
