* {
    box-sizing: border-box;
}

body {
    background-color: rgb(57, 56, 55);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.game-container {
    position: relative;
    width: 704px;
    height: 436px;
    margin: 0 auto;
    margin-top: 80px;
    outline: 1px  solid #fff; 
    
    transform: scale(5);
    /* transform: scale(5) translateY(20%); */
}

.game-container canvas {
    image-rendering: pixelated;
}